.wrapper {
  width: 300px;
  overflow: hidden;
  border: 10px solid green;
  margin: 0 auto;
}
.images {
  display: flex;
  transition:transform .5s;
}
.buttons {
  width:300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
/* 解决抖动的样式 */
.images2 {
  display: flex;
  transition:margin-left 1s;
}